.single-container
  = render 'shared/account-header'
  %main.single-main
    %section.l-single-container.buy-item-container
      %h2.l-single-head 購入を確定しますか？
      %section.buy-content.buy-item
        .buy-content-inner
          %h3.buy-item-image
            %img.lazyloaded{:alt => "", "data-src" => "https://static.mercdn.net/thumb/photos/m97212296865_1.jpg?1555213691", :src => "https://static.mercdn.net/thumb/photos/m97212296865_1.jpg?1555213691"}/
          %p.buy-item-name.bold Michelle  Weber Swiss Design 稼働品
          %form.buy-form{:action => "https://www.mercari.com/jp/transaction/buy/done/m97212296865/", :method => "POST", :novalidate => "novalidate"}
            %p.buy-price-ja.bold
              ¥ 1,900
              %span.item-shipping-fee.f14.bold 送料込み
            %ul.buy-accordion.not-have
              %li.accordion-parent
                .accordion-toggle
                  ポイントはありません
            %ul.buy-price-table
              %li.buy-price-row.buy-you-pay.bold
                .buy-price-cell 支払い金額
                .buy-price-cell
                  %span{"data-buy-pay" => "1900"} ¥ 1,900
            %input{:name => "seller_id", :type => "hidden", :value => "377185074"}/
            %input{:name => "payment_fee", :type => "hidden", :value => "0"}/
            %input{:name => "payment_amount", :type => "hidden", :value => "1900"}/
            %input{:name => "price", :type => "hidden", :value => "1900"}/
            %input{:name => "category_id", :type => "hidden", :value => "265"}/
            %input{:name => "item_condition", :type => "hidden", :value => "4"}/
            %input{:name => "shipping_payer", :type => "hidden", :value => "2"}/
            %input{:name => "shipping_method", :type => "hidden", :value => "14"}/
            %input{:name => "shipping_duration", :type => "hidden", :value => "1"}/
            %input{:name => "shipping_class", :type => "hidden", :value => "0"}/
            %input{:name => "zip_code1", :type => "hidden", :value => "535"}/
            %input{:name => "zip_code2", :type => "hidden", :value => "0031"}/
            %input{:name => "paid_method", :type => "hidden", :value => "card"}/
            %input{:name => "checksum", :type => "hidden", :value => "38006bba6018fe7f0066687d93a0239c"}/
            %input{:name => "payment_card_sequence_no", :type => "hidden", :value => "0"}/
            %input{:name => "payment_use_last_card_base64", :type => "hidden", :value => "eWVz"}/
            %input{:name => "item_name_base64", :type => "hidden", :value => "TWljaGVsbGUgIFdlYmVyIFN3aXNzIERlc2lnbiDnqLzlg43lk4E="}/
            %input{:name => "description_base64", :type => "hidden", :value => "4piGLuOAgi46KuODu8Kw4piGLuOAgi46KuODu8Kw4piGLuOAgi46KuODuwrjgIDjgIDjgIDjgIDjgIDjgIDjgIDjgIDjgIDjgZTopqfjgYTjgZ/jgaDjgY3jgYLjgorjgYzjgajjgYbjgZTjgZbjgYTjgb7jgZnjgIIK44CA44CA44CA44CA44CA44CA44CA44CA44CA44CA44CA44CA44CA44CA44CA44CA44CA44CA44CA44CA44CA4piGLuOAgi46KuODu8Kw4piGLuOAgi46KuODu8Kw4piGLuOAgi46KuODuwoK44GK5omL6ZaT5Y+W44KJ44Gb44G+44GZ44GM44CB44OX44Ot44OV44GU5LiA6Kqt44GK6aGY44GE6Ie044GX44G+44GZ44CCCgrmloflrZfnm6Tjgrfjg6vjg5Djg7zjgIHjg5XjgqfjgqPjgrnjgavjgrnjg4jjg7zjg7Pku5jjgYTjgabjgYTjgb7jgZnjgIIK44Kt44Op44Kt44Op44GX44Gm57a66bqX44Gn44GZ44CCCuW3puS4i+OAgeODmeODq+ODiOOBruaJgOOBruWwj+OBleOBquOCueODiOODvOODs+OBjO+8keOBpOWkluOCjOOBpuOBhOOBvuOBmeOAggroo4/ok4vjgavlsI/lgrfjgIHjg5njg6vjg4jjgavlsJHjgZfjgaDjgZHkvb/nlKjmhJ/jgYzlvqHluqfjgYTjgb7jgZnjgIIK5pmC6ZaT5Lul5aSW5ZCI44KP44Gb44Gm44GE44G+44Gb44KT44Gu44Gn44GU6LO85YWl6ICF5qeY44CB44GK6aGY44GE6Ie044GX44G+44GZKC1fLTspCgrpm7vmsaDkuqTmj5vjg7vjgqLjg6vjgrPjg7zjg6vmtojmr5Loh7TjgZfjgb7jgZfjgZ/jgIIKCuODleOCp+OCpOOCueODu+ODu+ODu++8k++8ju+8leOOnQoK6IWV5ZGo44KK44CA44O744O744O777yR77yW446d772e77yS77yQ446dCu+8iOe0oOS6uuaOoeWvuOOBp+OBmeOBruOBp+WkmuWwkeOBruiqpOW3ruOBjOW+oeW6p+OBhOOBvuOBmeS6i+OAgeOBlOS6huaJv+S4i+OBleOBhO+8iQoK55m66YCB5pmC44Gr56i85YON56K66KqN44GX44Gm44GK44KK44G+44GZ44GM44CB5Li744Gr5Lit5Y+k5ZOB44Gn44GZ44Gu44Gn44CB44GK5ZOB5Yiw552A5pmC44Gu5L2c5YuV6KOc5YSf5Ye65p2l44G+44Gb44KT5LqL44CB44GU5LqG5om/5LiL44GV44GE44CCCgoK44Oq44OU44O844K/44O85qeY5Ymy44GX44Gm44GK44KK44G+44GZ44Gu44Gn44CB44GU6LO85YWl5YmN44Gr44Kz44Oh44Oz44OI44Gr5LiA6KiA44GK5pu444GN5re744GI5LiL44GV44GE44CC5Y2Y5ZOB44Gn44Gu44GK5YCk5LiL44GS44Gv44GX44Gm44GK44KK44G+44Gb44KT44CB44GZ44G/44G+44Gb44KTKC1fLTsp5LuW44Gr44KC6IWV5pmC6KiI5Ye65ZOB44GX44Gm44GK44KK44G+44GZ44Gu44Gn44CB6KSH5pWw44GU6LO85YWl44Gu5aC05ZCI44GK5YCk5LiL44GS44GV44Gb44Gm6aCC44GN44G+44GZ44CCCgrvvKHvvLTvvK3jg7vjgrPjg7Pjg5Pjg4vmlK/miZXjgYTjga7mlrnjga/jgZTos7zlhaXmmYLjgavlv4XjgZrjgYrmlK/miZXml6XjgpLjgrPjg6Hjg7Pjg4jjgavmm7jjgYTjgabkuIvjgZXjgYTjgb7jgZvjgILnhKHoqIDos7zlhaXjga/jgYrmraLjgoHkuIvjgZXjgYTjgILjgYrmlK/miZXjgYTnorroqo3lvozjgIHnmbrpgIHmupblgpnjgZXjgZvjgabpoILjgY3jgb7jgZnjgIIKCuOCiOOCjeOBl+OBj+OBiumhmOOBhOiHtOOBl+OBvuOBmeOAgg=="}/
            %input{:name => "shipping_from_area_base64", :type => "hidden", :value => "NDA="}/
            %input{:name => "family_name_base64", :type => "hidden", :value => "5Lit5bGx"}/
            %input{:name => "first_name_base64", :type => "hidden", :value => "5Y2D57W1"}/
            %input{:name => "family_name_kana_base64", :type => "hidden", :value => "44OK44Kr44Ok44Oe"}/
            %input{:name => "first_name_kana_base64", :type => "hidden", :value => "44OB44Ko"}/
            %input{:name => "prefecture_base64", :type => "hidden", :value => "5aSn6Ziq5bqc"}/
            %input{:name => "city_base64", :type => "hidden", :value => "5aSn6Ziq5biC5pet5Yy6"}/
            %input{:name => "address1_base64", :type => "hidden", :value => "6auY5q6/MS0zLTk="}/
            %input{:name => "address2_base64", :type => "hidden", :value => "44O044Kj44Op6auY5q6/NTAz"}/
            %input{:name => "telephone_base64", :type => "hidden", :value => "MDkwODIyNjgzNDU="}/
            %input{:name => "__csrf_value", :type => "hidden", :value => "5ae380ea273ccf269c7e924a89be8c4d2079c176b66ce810b0ab1d75a50716f3b1b71146d80e721e1f58889d8581d8f2f24b077a5f08f76d7cc3feae274805c60"}/
            %p.has-error-text 配送先と支払い方法の入力を完了してください。
            %button.btn-default.btn-red.bold{:disabled => "disabled", :type => "submit"} 購入する
            %input#user_info_is_not_complete{:type => "hidden"}/
      %section.buy-content.buy-user-info
        .buy-content-inner
          %h3 配送先
          %address.buy-user-info-text
            〒535-0031
            %br/
            大阪府 大阪市旭区
            高殿1-3-9
            ヴィラ高殿503
            %br/
            中山 千絵
          %p.buy-user-info-text
          %a.buy-user-info-fix{:href => "https://www.mercari.com/jp/transaction/address/m97212296865/"}
            %span 変更する
            %i.icon-arrow-right
      %section.buy-content.buy-user-info{"data-buy" => "pay-method"}
        .buy-content-inner
          %h3 支払い方法
          %p.buy-user-info-text
            %br/
            \/
          %figure
            %img{:alt => "", :height => "", :src => "", :width => ""}/
          %p
          %a.buy-user-info-fix{:href => "https://www.mercari.com/jp/transaction/card/m97212296865/"}
            %span 変更する
            %i.icon-arrow-right
= render 'shared/account-footer'
